*
!.gitignore
!/nvim/
!/nvim/*
!/nvim/**
!/hypr/
!/hypr/*
!/hypr/**
!/waybar/
!/waybar/*
!/waybar/**
!/mako/
!/mako/*
!/mako/**
!/wofi/
!/wofi/*
!/wofi/**
!/ghostty/
!/ghostty/*
!/ghostty/**
!/kitty/
!/kitty/*
!/kitty/**
!/uwsm/
!/uwsm/*
!/uwsm/**
!/fish/
!/fish/*
!/fish/**
!/xdg-desktop-portal/
!/xdg-desktop-portal/*
!/xdg-desktop-portal/**
!/uv/
!/uv/*
!/uv/**
!/fuzzel/
!/fuzzel/*
!/fuzzel/**
!/niri/
!/niri/*
!/niri/**
!brave-flags.conf
!chromium-flags.conf
